@import '../Commons/styles/sass/variables';
@import '../Commons/styles/sass/mixins';

.contactsBlock {
  background-color: $bgSecondColor;

  .container {
    @include container();
    @include flexboxSettings(null, space-between, center, wrap);
  }

  .contactsWrapper {
    display: flex;
    flex-direction: column;

    .wrapper {
      width: 100%;
      @include flexboxSettings(null, space-around, null, wrap);
      margin-top: 10px;


      .myContacts {
        width: 50%;
        @include flexboxSettings(null, space-around, null, wrap);
        @media screen and (max-width: 1355px) {
          width: 70%;
        }
        @media screen and (max-width: 830px) {
          width: 80%;
        }@media screen and (max-width: 610px) {
          width: 100%;
        }

        .text {
          width: 100%;
        }
      }

      .gratitude img{
        width: 406px;
        height: 306px;
      }

      .formWrapper {
        @include flexboxSettings(column, center, null, wrap);
        margin-top: 10px;
        @media screen and (max-width: 1355px) {
          width: 70%;
        }
        @media screen and (max-width: 830px) {
          width: 80%;
        }
        @media screen and (max-width: 610px) {
        width: 100%;
      }

        input {
          height: 50px;
          width: 100%;
          font-size: 16px;
        }

        textarea {
          font-size: 16px;
          height: 150px;
        }

        button {
          height: 50px;
          background-color: $primaryTextColor;
          color: white;

          &:hover {
            background-color: #262626;
            transition: 0.3s;
          }
        }
      }
    }
  }
}





