@import '../Commons/styles/sass/variables';
@import '../Commons/styles/sass/mixins';

.skillsBlock {
  background-color: $bgSecondColor;

  .container {
    @include container();
    @include flexboxSettings(null, space-between, center, wrap);
  }

  .skillsWrapper {
    @include flexboxSettings(column, flex-start, null, null);

    .skillsContainer {
      @include flexboxSettings(null, space-around, null, wrap);
      width: 100%;
      @media only screen and (min-width: 320px) and (max-width: 750px) {
        justify-content: center;
      }
    }
  }
}






