@import '../Commons/styles/sass/variables';
@import '../Commons/styles/sass/mixins';

.projectsBlock {
  background-color: $bgColor;

  .projectsWrapper {
    @include flexboxSettings(column, null, null, null);

    .projectsContainer {
      width: 100%;
      @include flexboxSettings(null, space-around, null, wrap);
      margin-top: 10px;
      @media screen and (max-width: 1005px) {
        justify-content: center;

      }
    }
  }
}
